
<div class="ui page grid">
  <div class="column">
    <div class="ui icon info message">
      <i class="info icon"></i>
      <div class="content">
        <div class="header">Distribot</div>
        <p>Data flows smoothly.</p>
      </div>
    </div>


  </div>
</div>
