
<div class="ui page grid">
  <div class="column">
    <div class="ui icon info message">
      <i class="info icon"></i>
      <div class="content">
        <div class="header">There are no workflows yet</div>
        <p>
          If you had workflows, this is where they'd be.
        </p>
        <p>
          <a href="<%= create_workflow_path %>" class="ui green right labeled icon button">
            Create New Workflow
            <i class="right arrow icon"></i>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>
